* {
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

.page {
  height: 100%;
}

.page::before {
  content: "";
  position: fixed;
  width: 300%;
  height: 100%;
  background-color: #0075ff;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  z-index: -1;
  transform: translateX(-50%) skew(0, -10deg);
  animation: waving 5s ease-in-out infinite alternate;
}

@keyframes waving {
  from {
    transform: translateX(-50%) skew(0, -10deg);
  }
  to {
    transform: translateX(-30%) skew(10deg, 0);
  }
}
.card {
  width: 300px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #ddd inset;
}
.card img {
  max-width: 100%;
  border-radius: 10px;
}
